@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    width: 100%;
    
}

.nav-links a{
  opacity: 1;
}
.nav-title a{
  font-family: 'DM Mono', monospace;
    font-size: 35px;
    color: #333333;
    text-decoration: none;
}


.nav {

    margin-top: 110px;
    position:fixed;
    /* height: 100%; */
    width: 1250px;
    background: none;
    /* background-color: #4d4d4d; */
    /* position: relative; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #e6e6e6 solid 1px;
    z-index:222 ;
    transition: 0.2s ;
    /* border: solid black; */
  }
  .sticky{
    margin-top: 80px;
    /* margin-top: -21px; */
    /* height: 100%; */
    padding: 2px 20px;
    border-bottom: none;
  }
  /* .sticky ul li a{ font-size:11px;} */
  
  .nav > .nav-header {
    display: inline;
  }
  
  /* .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #333;
    padding: 10px 10px 10px 10px;
  } */
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 15px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 15px 13px 35px;
    text-decoration: none;
    color: #333;
    /* mix-blend-mode: difference; */
  }
  
  .nav > .nav-links > a:hover {
    color:#eb622c;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .burger {
    display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px;
    transition: all ease .3s;
  }
 
  

@media only screen and (max-width: 1300px) {
  .nav {
    /* height: 100%; */
    width: 100%;
    background: none;
    /* background-color: #4d4d4d; */
    position: fixed;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #e6e6e6 solid 1px;
    z-index:2222 ;
  }
  .sticky{
    margin-top: 80px;
    /* margin-top: -21px; */
    /* height: 100%; */
    padding: 2px 20px;
    border-bottom: none;
  }
  
}
@media only screen and (max-width: 1020px) {

  .nav {
    margin-top: 0;
    /* background-color: #4d4d4d; */
    position: relative;
  
  }
  
  .nav > .nav-links > a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: #333;
      font-size: 30px;
    }
  .nav > .nav-links > a:hover {
      background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn {
    display: inline-block;
    /* position: absolute; */
    /* right: 0px; */
    /* top: 0px; */
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  /* .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  } */
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #333;
  }
  .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 106px;
      left: 0px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
  }
  .nav > .nav-links > a {
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      color: rgb(197, 197, 197);
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .burger {
    display: inherit;
  }
}

@media only screen and (max-width: 871px) {
  
}
@media only screen and (max-width: 450px) {
    .nav > .nav-links > a {
        font-size: 25px;
    }

    .nav > #nav-check:checked ~ .nav-links {
      height: calc(80vh - 40px);
      overflow-y: auto;
    }
}

@media only screen and (max-width: 360px) {
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 100px);
    overflow-y: auto;
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
 
}
.toggle .line2{
  opacity: 0;

}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

