.swiper-container {
    width: 1900px;
    height: 450px;
    /* border: solid red; */
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #0E0E0E;; */
  

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content:center;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;

  }

  .swiper-slide img:hover {
      margin-top: -20px;
      cursor: pointer;
      transition: ease .4s;
      /* height: 100%; */
      filter: drop-shadow(10px 24px 15px rgba(77, 77, 77, 0.35));
  }
    .swiper-slide img{
      object-fit: cover;
      width: 100%;
      height: auto;
    }

    .swiper-slide a{
      color: #1A1A1A;
      z-index: 900000;
    }

    .swiper-slide a:hover{
      color:#eb622c;
      margin-right: 20px;
    }

    .swiper-slide a span{
      color:#eb622c;
      font-size: 30px;
      
    }
    

   

    .swiper-pagination{
        border: white solid;
    }


@media only screen and (max-width: 851px) {
  .swiper-container {
    width: 1600px;
    height: 50%;
    padding-bottom: 50px;
  }
  .swiper-slide img:hover {
    margin-top: 20px;
    cursor: pointer;
    transition: ease .4s;
    /* height: 100%; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
  .swiper-slide img{
    margin-top: 20px;
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

}

@media only screen and (max-width: 699px) {

}
@media only screen and (max-width: 450px) {

}

@media only screen and (max-width: 320px) {

}